.toc-content {
	position: relative !important;
	left: 20% !important;
	width: 80%;
}

#TOC {
	width: 24%;
    max-width: 260px;
}

#logo_deloitte {
	z-index: 999;
}

.main-container {
  max-width: 2300px !important;
  margin-left: auto;
  margin-right: auto;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #1e1f21;
    color: #6edb7e;
    font-weight: bold;
}


.forceNetwork.html-widget.html-widget-static-bound {
    border-style:solid !important;
    border-width:1px !important;
}